<footer class="bg-dark text-light py-2">
  <div class="container-fluid px-4">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>HR Portal</p>
      </div>
      <div class="col-md-4">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink ='/dashboard'  class="text-light">Home</a></li>
          <li><a routerLink ='/employees' class="text-light">Employees List</a></li>
          <li><a href="#" class="text-light">Services</a></li>
          <li><a href="#" class="text-light">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <p>123 Hitech City, Anytown, USA</p>
        <p>Email: hr&#64;hrPortal.com</p>
        <p>Phone: +1- 123-123-1234</p>
      </div>
    </div>
    <hr class="bg-light">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0">&copy; 2025 Your Company. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
