.card {
  border-radius: 0.5rem;

  .card-header {
    background-color: #f8f9fa;
    font-weight: 500;
  }

  .form-control, .form-select {
    max-width: 400px;
  }

  .form-check-input {
    cursor: pointer;
  }
}
